@use '../../../scss/abstracts' as *;

.list {
  &__main-container {
    background-color: $color-white;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .rs-table-cell-content {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-start !important;
  }
}