html,
body,
#root,
.app {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to bottom, var(--background-color-darker) 0%,var(--background-color-darker) 50%,var(--background-color-lighter-200) 50%,var(--background-color-lighter-200) 100%);
}

html {
  scroll-behavior: smooth;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  iframe#webpack-dev-server-client-overlay{display:none!important}
}


input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

// scrollbar
::-webkit-scrollbar {
  visibility: hidden;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;

  &-track {
    background-color: transparent;
    border-radius: 5px;
  }

  &-thumb {
    background-color: #a6b2c3;
    border-radius: 5px;
  }

  &-corner {
    background-color: var(--color-white);
  }
}
